.footer
{
    background-color: rgb(236, 236, 236);
}

#linkedin
{
    text-decoration: none;
   color: rgb(5, 29, 39);
    width:auto;
}

#linkedin:hover{

     color: #0d9494;
}
.linkedin-logo {
  width: 30px; /* Adjust the size as needed */
  height: auto; /* Maintain aspect ratio */
}
